.Table {
  --table-row-border: #e2e2e2;
  --table-left-spacer: 0.5rem;

  --table-buy-color: var(--primary);
  --table-target-color: var(--green);
  --table-stoploss-color: var(--red);

  --table-dot-size: 0.5rem;

  --table-header: #666666;

  border-collapse: collapse;
  display: table;
  width: 100%;
  margin: 0.1rem 0 1rem;
  padding: 0;
  font-size: 0.7rem;
}

.Table-headings {
  cursor: pointer;
  color: var(--table-header);
}

.Table-headings > th > span {
  font-weight: 600;
}

.Table-row {
  padding: 0.2rem;
  margin: 0 0 2rem;
  border-bottom: 1px solid var(--table-row-border);
}

.Table-row td {
  margin: 0;
  border-top: none;
}

.Table-row td:first-child {
  border-left: none;
}

.Table-row td:last-child {
  border-right: none;
}

.Table-Row-stoploss-profit {
  color: var(--table-stoploss-color);
}

.Table-Row-target-profit {
  color: var(--table-target-color);
}

.Table-type-container {
  display: flex;
  align-items: center;
  padding-left: var(--table-left-spacer);
}

.Table-dot {
  border-radius: 50%;
  background: var(--table-buy-color);
  width: var(--table-dot-size);
  height: var(--table-dot-size);
  margin-right: var(--table-left-spacer);
}

.Table-dot-buy {
  composes: Table-dot;
  background: var(--table-buy-color);
}

.Table-dot-target {
  composes: Table-dot;
  background: var(--table-target-color);
}

.Table-dot-stoploss {
  composes: Table-dot;
  background: var(--table-stoploss-color);
}

.trade-overview {
  margin-top: 2rem;
}

.trade-overview > h1 {
  font-weight: 700;;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1.5rem;
}

.overview-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-container > div {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.overview-container > div > span:nth-child(2) {
  color: #515252;
  font-weight: 600;
}

.top-right {
  font-size: 0.7rem;
  color: #515252;
  width: 30%;
  word-break: break-word;
  text-transform: capitalize;
}
