.Table {
  --table-row-border: #444;
  --table-left-spacer: .5rem;

  --table-buy-color: var(--primary);
  --table-target-color: var(--green);
  --table-stoploss-color: var(--red);

  --table-dot-size: .5rem;

  border-collapse: collapse;
  display: table;
  width: 100%;
  margin: 2rem 0 1rem;
  padding: 0;
  font-size: 0.85rem;
}

.Table-headings {
  font-weight: 100;
  cursor: pointer;
}

.Table-row  {
  padding: 0.2rem;
  margin: 0 0 2rem;
}

.Table-row td {
  margin: 0;
  border-top: 1px solid var(--table-row-border);
  border-bottom: 1px solid var(--table-row-border);
}

.Table-row td:first-child {
  border-left: 1px solid var(--table-row-border);
}

.Table-row td:last-child {
  border-right: 1px solid var(--table-row-border);
}

.Table-Row-stoploss-profit {
  color: var(--table-stoploss-color);
}

.Table-Row-target-profit {
  color: var(--table-target-color);
}


.Table-type-container {
  display: flex;
  align-items: center;
  padding-left: var(--table-left-spacer);
}

.Table-dot {
  border-radius: 50%;
  background: var(--table-buy-color);
  width: var(--table-dot-size);
  height: var(--table-dot-size);
  margin-right: var(--table-left-spacer);
}


.Table-dot-buy {
  composes: Table-dot;
  background: var(--table-buy-color);
}

.Table-dot-target {
  composes: Table-dot;
  background: var(--table-target-color);
}


.Table-dot-stoploss {
  composes: Table-dot;
  background: var(--table-stoploss-color);
}