:root {
  --input-default-background: rgba(255, 255, 255, 0.9);
  --input-default-color: #000000;
  --input-default-border: rgba(151, 158, 168);

  --label-default-color: rgb(60, 60, 60);

  --input-border-active-color: rgb(0, 138, 255);
  --input-default-disabled-background: rgb(212, 212, 212);
  --input-default-disabled-color: rgba(255, 255, 255, 0.8);
}

:global input:disabled,
:global input {
  background: transparent;
}

:global input:focus {
  outline: none;
}

:global input {
  box-shadow: none;
  border: none;
}

.InputContainer {
  background: var(--input-default-background);
  border: 1px solid var(--input-default-border);
  border-radius: 0.375rem;
  color: var(--input-default-color);

  width: 100%;
  display: flex;
  align-items: stretch;
  justify-items: center;
  flex-wrap: nowrap;

  font-size: 14px;
  line-height: 32px;
  height: 32px;

  padding: 0 8px;
  /* margin-bottom: 1rem; */

  overflow: hidden;
}

.InputContainer--isFocused {
  composes: InputContainer;
  border: 1px solid var(--input-border-active-color);
}

.InputContainer--disabled {
  composes: InputContainer;
  background: var(--input-default-disabled-background);
}

.InputContainerSmall {
  composes: InputContainer;
  padding-left: 0;
}

.InputElement {
  flex-grow: 1;
  width: 100%;

  line-height: 28px;

  border: none;
  font-size: inherit;
  color: var(--input-default-color);
}

.InputElement[type='number'] {
  text-align: right;
}

.InputLabel {
  line-height: 32px;
  color: var(--label-default-color);
  margin: 0;
  height: 32px;
}

.InputPostLabelSmall {
  line-height: 32px;
  color: var(--label-default-color);
  margin: 0;
  height: 32px;
  padding: 0;
  right: -8px;
}

.InputPostLabel {
  padding-left: 4px;
  line-height: 32px;
  color: var(--label-default-color);
}
