:root {
  --input-default-background: rgba(43, 47, 54, 0.9);
  --input-default-color: #fff;
  --input-default-border:  rgba(43, 47, 54, 0.8);
  --label-default-color: #666;

  --input-border-active-color: rgb(240, 185, 11);
  --input-default-disabled-background: rgba(20, 20, 30, 0.6);
  --input-default-disabled-color: rgba(255,255,255, 0.8);
}


:global input:disabled,
:global input {
  background: transparent;
}

:global input:focus {
  outline: none;
}

:global input {
  box-shadow: none;
  border: none;
}

.InputContainer {
  background: var(--input-default-background);
  border: 1px solid var(--input-default-border);
  border-radius: 0.375rem;
  color: var(--input-default-color);
  
  display: flex;
  align-items: stretch;
  justify-items: center;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 32px;
  height: 32px;
  
  padding: 0 8px;
  margin-bottom: 1rem;
}

.InputContainer--isFocused {
  composes: InputContainer;
  border: 1px solid var(--input-border-active-color);
}

.InputContainer--disabled {
  composes: InputContainer;
  background: var(--input-default-disabled-background);
}

.InputElement {
  flex-grow: 1;

  line-height: 28px;
  
  border: none;
  font-size: inherit;
  color: var(--input-default-color);
  
}

.InputElement[type='number'] {
  text-align: right;
}


.InputLabel {
  line-height: 32px;
  color: var(--label-default-color);
  margin: 0;
  height: 32px;
}

.InputPostLabel {
  padding-left: 8px;
  line-height: 32px;
  color: var(--label-default-color);
}