.analyst-dropdown-container {
  position: relative;
}
.analyst-field-selected {
  display: flex;
  border: 1px solid #e2e8f0;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;
  cursor: pointer;
}

.field-disabled {
  cursor: auto;
  opacity: 0.7;
}

.analyst-field-selected p {
  margin-bottom: 0;
  margin-right: 10px;
}

.analyst-option {
  display: flex;
  align-items: center;
  margin: 5px 0 18px;
}

.analyst-options {
  width: 100%;
  top: 60px;
  position: absolute;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 10px 14px;
  background: var(--white);
  border: 0.5px solid var(--blue);
}

.custom-checkbox[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 0.5px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

.custom-checkbox[type='checkbox']:checked {
  background-color: var(--blue);
}

.icon-cursor {
  cursor: pointer;
}

.details-container {
  position: relative;
}

.more-details {
  padding-top: 10px;
  margin-top: 10px;
}

.sub-text {
  font-size: 9px;
  display: block;
  color: var(--label-default-color);
}

.analyst-name {
  width: 172px;
}

.analyst-detail-header {
  margin-left: 1.5rem;
}

.analyst-info-wrapper.show:before {
  content: '';
  position: absolute;
  left: 5px;
  bottom: 9px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--border-color) transparent;
}

.analyst-info {
  background: var(--white);
  position: absolute;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 0.875rem;
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
  z-index: 5;
  border: 0.5px solid var(--blue);
}

@media screen and (max-width: 1400px) {
  .analyst-data .text-xs {
    font-size: 0.63rem !important;
    margin-bottom: 0.6rem;
  }

  .analyst-data p {
    font-size: 0.45rem;
  }

  .icon-cursor {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 1260px) {
  .analyst-detail-header {
    margin-left: 0;
  }

  .analyst-data .text-xs {
    font-size: 0.5rem !important;
    margin-bottom: 0.5rem;
  }

  .more-details .avatar-lg {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .analyst-data {
    display: flex !important;
  }
  .analyst-data .text-xs {
    font-size: 0.67rem !important;
    margin-bottom: 0.5rem;
  }

  .analyst-detail-header {
    margin-left: 1.5rem;
  }
  .analyst-info {
    left: 0;
  }
}
