:root {
  --primary-background: #008aff;
  --primary-color: #fff;
  --primary-background-hover: #0075d9;
  --defualt-border-color: #c1c9d4;
  --default-color: #273444;
}

.Button {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: .75rem 1.75rem;
  border: 1px solid;
  cursor: pointer;
  border-radius: .375rem;
  background: transparent;
  border: 2px solid #ccc;
  transition: background 300ms ease-in-out;
  color: var(--defualt-color);
  margin-bottom: 1rem;
}

.Button:hover {
  color: var(--default-color);
  border: 2px solid var(--primary-background);
  transition: border-color 100ms ease-out;
}

.Button-small {
  font-size: .875rem;
  line-height: 1.5;
  padding: .5rem 1.25rem;
}


.Button-primary {
  border: 2px solid var(--primary-background);
  background: var(--primary-background);
  color: var(--primary-color);
}

.Button-primary:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-background-hover);
  background: var(--primary-background-hover);
  transition: background 100ms ease-out;
}