.full-screen-loader {
  position: absolute;
  top: 71px;
  height: 100%;
  width: 100%;
  background-color: #fafbfe !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition: 0.2s all ease-in-out;
}
.full-screen-loader .loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0 !important;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0 !important;
  }
}
.animate__fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
