.SliderRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.SliderText {
  width: 30px;
  height: 35px;
}

.SliderSlider {
  width: 150px;
  height: 32px;
}

.SliderInput {
  width: 25%;
  min-width: 70px;
}
