.SliderRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.SliderSlider {
  width: 170px;
  height: 32px;
  margin-left: 8px;
}

.SliderInput {
  width: 25%;
  min-width: 50px;
  margin-bottom: 1rem;
}

.Input {
  margin-bottom: 1rem;
}

.Error {
  background-color: #fff0f1;
  border: 1px solid #e35b66;
  color: #cc3340;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
