.TradeModal-Container {
  background: var(--trade-modal-background);
  padding: 15px;
  width: max-content;
  min-width: 390px;
  position: relative;
  border-radius: 6px;
}

@media (max-width: 575.98px) {
  .TradeModal-Container {
    min-width: unset;
    width: 320px;
  }
}

.TradeModal-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.TradeModal-header {
  text-align: center;
}

.TradeModal-header h4 {
  margin-bottom: 1rem;
}

.TradeModal-header__description {
  margin-top: 5px;
  text-transform: capitalize;
}

.TradeModal-Main__entry {
  display: flex;
  justify-content: space-between;
}

.TradeModal-Main-Table {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 5px;
  background-color: var(--trade-box-background);
  overflow-x: auto;
}

.TradeModal-Main-Table td {
  padding: 5px 15px;
  color: #666666;
  white-space: nowrap;
}

.TradeModal-Main-Table td:nth-child(2) {
  text-align: right;
}

.TradeModal-Main-Table td:nth-child(3) {
  text-align: right;
}

.TradeModal-Footer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.TradeModal-Footer button {
  height: 40px;
  padding: 0 !important;
  margin-left: unset !important;
  margin-bottom: 5px;
}

@media (min-width: 575.98px) {
  .TradeModal-Footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .TradeModal-Footer button {
    width: 175px;
  }
}
