.SliderRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.SliderText {
  width: 35px;
  height: 25px;
}

.SliderSlider {
  width: 130px;
  height: 15px;
}

.SliderInput {
  width: 26%;
  min-width: 50px;
}

.Input {
  margin-bottom: 1rem;
}

.InputDropdownContainer {
  margin-bottom: 1rem;
  display: flex;
}

.Error {
  background-color: #fff0f1;
  border: 1px solid #e35b66;
  color: #cc3340;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
