.show-analyst-info {
  font-size: 12px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: var(--primary);
}

.enlarge-list .enlarged-watch-lists {
  height: calc(100vh - 368px);
}

@media (max-width: 1400px) {
  .enlarge-list .enlarged-watch-lists {
    height: calc(100vh - 390px);
  }
}

@media (max-width: 1260px) {
  .enlarge-list .enlarged-watch-lists {
    height: calc(100vh - 418px);
  }
}

@media (max-width: 767px) {
  .market-stat-chart {
    padding-left: 15px !important;
  }

  .market-stat-chart .marketDataContainer {
    border-left: none;
    border-right: none;
  }

  .market-chart-mobile {
    margin-right: -15px !important;
    height: calc(100vh - 160px) !important;
  }

  .market-chart-mobile-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media (orientation: landscape) and (max-width: 467px) {
  .market-chart-mobile {
    height: 100vh !important;
    margin-right: -15px !important;
  }
}
