.SymbolSelect-Container {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
}

.Select-Container {
  position: relative;
  width: 100%;
}

.Mobile-Symbol-Container {
  display: none;
}

@media (max-width: 991px) {
  .Mobile-Symbol-Container {
    grid-template-columns: 100%;
    display: block;
    width: 80%;
  }

  .Mobile-Select-Container-Type {
    display: none;
  }
}
