.watch-container {
  position: relative;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: end;
  align-items: center;
  border-bottom: 1px solid var(--watch-list-border-color);
  padding: 5px 1rem;
  cursor: pointer;
  font-size: 13px;
}

.watch-container .label-column {
  text-align: start;
  width: 10em;
  vertical-align: middle;
}

.watch-container:hover {
  background-color: var(--watch-list-border-color);
}

.removeBtn {
  background-color: var(--watch-list-border-color);
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0 5px;
  cursor: pointer;
}

.plus {
  color: var(--buy);
}

.minus {
  color: var(--sell);
}
