@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  color: var(--body-color);
  background-color: var(--body-background);
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  overflow: visible;

  box-sizing: content-box;
  height: 0;
}
