@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  color: var(--body-color);
  background-color: var(--body-background);
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  overflow: visible;

  box-sizing: content-box;
  height: 0;
}

/*slider*/
.rc-slider-disabled {
  background: none;
}

.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #848e9c;
  background-color: #fff;
  touch-action: pan-x;
}

.rc-slider-handle:active {
  border-color: #848e9c;
  box-shadow: #848e9c !important;
  cursor: grabbing;
}

.rc-slider-handle:hover {
  border-color: #848e9c;
}

.rc-slider-dot-active {
  border-color: #848e9c !important;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #848e9c;
}

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 4px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
