:root {
  --blue: #0088ff;
  --light-blue: #78c0ff;
  --dark-blue: #152c5b;

  --red: #f25767;
  --orange: #ffbe3d;
  --gold: #e6ba41;
  --grey: rgb(234, 234, 234);
  --white: #fff;

  --green: #56bd7c;
  --red-trade: #f84960;

  --light: #eff2f7;
  --dark: #273444;
  --dark-black: #171317;
  --neutral: #fff;
  --muted: #718096;

  --warning: var(--orange);
  --danger: var(--red);
  --primary: var(--blue);
  --success: var(--green);

  --buy: var(--green);
  --sell: var(--red-trade);

  --default-color: var(--light);
  --warning-color: var(--warning);
  --error-color: var(--danger);
  --primary-color: var(--primary);
  --secondary-color: var(--muted);

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --body-background: var(--white);
  --body-color: var(--light);

  --trade-background: rgb(255, 255, 255);
  --trade-color: #939aa4;
  --trade-borders: #424951;

  --trade-confirm-background: var(--gold);
  --trade-cancel-background: var(--red);
}

/* DARK MODE OVERRIDES */
@media (prefers-color-scheme: dark) {
  :root {
    --default-color: var(--light);

    --body-background: var(--light);
    --body-color: var(--light);

    --trade-background: rgb(255, 255, 255);
    --trade-color: #939aa4;
    --trade-borders: #424951;
    --trade-confirm-background: var(--gold);
    --trade-modal-background: #424951;
    --trade-box-background: #424951;
  }
}

:root .dark {
  --default-color: var(--light);

  --body-background: var(--light);
  --body-color: var(--light);

  --trade-background: #e9eaec;
  --trade-color: #939aa4;
  --trade-borders: #424951;
  --trade-confirm-background: var(--gold);
  --trade-modal-background: white;
  --trade-box-background: var(--light);
}
