.watch-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--watch-list-border-color);
  padding: 5px 1rem;
  cursor: pointer;
  font-size: 13px;
}

.watch-container:hover {
  background-color: var(--watch-list-border-color);
}

.removeBtn {
  background-color: var(--watch-list-border-color);
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0 5px;
  cursor: pointer;
}

.plus {
  color: var(--buy);
}

.minus {
  color: var(--sell);
}