.SliderRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.SliderSlider {
  width: calc(100% - 80px);
  height: 32px;
  margin-left: 8px;
}

.SliderInput {
  width: 65px;
  min-width: 65px;
  margin-bottom: 1rem;
}

.Input {
  margin-bottom: 1rem;
}

.CallbackRateInput {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CallbackRateBtn {
  display: flex;
  align-items: center;
  justify-items: right;
  text-align: right;
  padding: 1px 2px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 28px;
  width: 36px;
  height: 32px;
  background: var(--input-default-background);
  border: 1px solid var(--input-default-border);
  border-radius: 0.375rem;
  color: var(--input-default-color);
}

.CallbackRateBtn span {
  font-size: 14px;
  line-height: 28px;
  padding-left: 4px;
  color: var(--label-default-color);
}

.InputDropdownContainer {
  margin-bottom: 1rem;
  display: flex;
}

.Error {
  background-color: #fff0f1;
  border: 1px solid #e35b66;
  color: #cc3340;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  transition: all 0.5s linear;
}
