.marketDataContainer {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.marketBorder {
  border-top: 4px solid var(--trade-borders);
  border-bottom: 4px solid var(--trade-borders);
}
.marketData {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px 8px 0px 16px;
  width: max-content;
}
.lastPriceBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marketDataLastPrice {
  font-size: 16px;
  color: var(--dark-color);
  line-height: 20px;
}
.marketDataWorth {
  font-size: 12px;
  line-height: 15px;
  color: rgb(132, 142, 156);
}
.marketDataBlock {
  display: inline-block;
  padding-right: 10px;
}
.marketDataBlockTitle {
  color: rgb(132, 142, 156);
  font-size: 10px;
  line-height: 16px;
  border-bottom: 1px solid transparent;
  margin-bottom: 2px;
}
.marketDataBlockValue {
  color: var(--dark-color);
  font-size: 12px;
  line-height: 15px;
}

.upload-cover {
  border: 1px dashed var(--gray);
  padding: 20px;
  text-align: center;
}

.upload-cover:hover {
  border: 1px solid #0075d9;
}

.upload-cover:hover svg {
  color: #0075d9;
}

.upload-cover label {
  color: #0075d9;
  cursor: pointer;
}

.or-text {
  text-align: center;
  max-width: 600px;
  position: relative;
}

.or-text:before {
  content: '';
  display: block;
  width: 190px;
  height: 2px;
  background: var(--trade-borders);
  left: 0;
  top: 50%;
  position: absolute;
}

.or-text:after {
  content: '';
  display: block;
  width: 190px;
  height: 2px;
  background: var(--trade-borders);
  right: 0;
  top: 50%;
  position: absolute;
}

.lastPriceBlockMobile {
  display: none;
}

@media (max-width: 1230px) {
  .marketDataContainer {
    /* height: 52px; */
    /* border-top: none; */
    border-right: 4px solid var(--trade-borders);
    border-top: none;
  }
}

@media (max-width: 991.98px) {
  .marketDataContainer {
    padding: 0;
    height: max-content;
    border: 5px solid var(--light-color);
    border-bottom: 2px solid var(--trade-borders);
    border-top: 0;
  }
  .marketDataBlock {
    width: max-content;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .marketDataContainer {
    overflow-x: auto;
    width: 100%;
  }

  .market-stat-chart .marketDataContainer {
    padding: 5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 85px;
  }

  .market-stat-chart .lastPriceBlockMobile {
    display: block;
    margin-bottom: 4px;
    margin-top: 2px;
  }
  .market-stat-chart .lastPriceBlock {
    display: none;
  }

  .market-stat-chart .lastPriceMarketDataBlock {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 5px;
  }

  .market-stat-chart .marketDataBlock {
    width: 100px;
  }
  
  .marketDataLastPrice{
    width: max-content;
    font-size: small;
  }
}
