.value-container {
  flex-direction: row;
}

.card-content-right .card-body {
  padding: 0;
  margin-top: 21px;
}

.card-content-right .card-body p {
  width: 92%;
}

.card-content-right .gauge-chart text {
  font-size: 19px !important;
}

.icon-wrapper {
  position: relative;
  background-color: #008aff;
  border-radius: 50%;
  width: 26px !important;
  height: 26px !important;
  margin-left: 4px;
}

.icon-wrapper svg {
  font-size: 1rem !important;
}

.icon-wrapper svg:nth-child(2) {
  position: absolute;
  bottom: -7px;
  right: -11px;
  width: 14px !important;
  height: 14px !important;
  font-size: 0.4rem;
  cursor: pointer;
  color: #008aff;
}

.custom-dropdown {
  position: absolute;
  bottom: -110px;
  z-index: 1000;
  padding: 0.35rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #718096;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eaecf3;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
}

.custom-dropdown p {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #4a5568;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 0;
}

.estimated-value {
  padding-top: 0;
}

.custom-dropdown p:hover {
  color: #008aff;
}

.estimated-value-container {
  width: 50%;
}

.estimated-value-container .icon {
  width: 2rem;
  height: 2rem;
}

.cashometer-container {
  width: 50%;
}

@media (max-width: 992px) {
  .estimated-value {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .estimated-value-container {
    width: 100%;
  }

  .estimated-value-container span {
    margin-bottom: 0;
  }

  .cashometer-container {
    width: 100%;
    padding-bottom: 40px;
  }

  .cashometer-container .card-header {
    padding-top: 0;
    padding-left: 0;
  }

  .value-container {
    flex-direction: column;
  }

  .estimated-value .text-sm {
    font-size: 0.8rem !important;
  }

  .estimate-value-header {
    padding: 0.8rem;
    padding-left: 0;
  }
}
