.card-content-left {
  width: 50%;
}

.card-content-right {
  width: 50%;
}

.card-content-right .card-body {
  padding: 0;
  margin-top: 27px;
}

.card-content-right .card-body p {
  width: 92%
}

.card-content-right .gauge-chart text {
  font-size: 19px !important;
}

.icon-wrapper {
  position: relative
}

.icon-wrapper svg:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 0.6rem;
  cursor: pointer;
}

.custom-dropdown {
  position: absolute;
  bottom: -110px;
  z-index: 1000;
  padding: .35rem 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #718096;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eaecf3;
  border-radius: .5rem;
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
}

.custom-dropdown p {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #4a5568;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: .875rem;
  cursor: pointer;
  margin-bottom: 0;
}

.custom-dropdown p:hover {
  color: #008aff
}

@media (max-width: 767px) {
  .card {
    flex-direction: column !important;
  }
  .card-content-left {
    width: 100%;
  }

  .card-content-right {
    width: 100%;
  }
}
