.TradeView-Container {
  display: flex;
  flex-direction: row;
  /* min-height: 110vh; */
  justify-content: stretch;
}

.TradeView-Panel {
  width: 288px;
  padding: 1rem;

  background: #ffffff;
  color: #000000;

  min-height: 100vh;
  flex-grow: 0;
}

.TradeChart-Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 2;
}

.TradeView-Symbol {
  background: var(--trade-background);
  flex-grow: 0;
}

.TradeView-Chart {
  background: var(--trade-background);
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TradeOrders {
  height: 40vh;
}

.TradeView-Panel-Mobile {
  width: 100%;
}

.TradeChart-Container-Mobile {
  padding: 15px;
  width: 100%;
}

.TradeView-Container-Mobile {
  margin-bottom: 100px;
}

.TradeView-Panel-Mobile-Close {
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (min-width: 992px) {
  .TradeView-Panel-Mobile-Close {
    display: none;
  }
}
