.TradeView-Container {
  display: flex;
  flex-direction: row;
  min-height: 110vh;  
  justify-content: stretch;
}

.TradeView-Panel {
  width: 288px;
  padding: 1rem;

  background: #FFFFFF;
  color: #000000;

  min-height: 100vh;
  flex-grow: 0;
}

.TradeChart-Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 2;
}

.TradeView-Symbol { 
    background: var(--trade-background);
    flex-grow: 0;
  }

.TradeView-Chart { 
  background: var(--trade-background);
  flex-grow: 2;
}

.TradeOrders {
  height: 40vh;
}
