.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 16px;
}

.header svg {
  cursor: pointer;
}


.watchListControl {
  border-radius: 4px;
  padding: 0 6px;
  cursor: pointer;
}

.watchListControl:hover,
.watchListControlSelected {
  background-color: var(--watch-list-hover-color);
}

.watchListModal {
  width: 200px;
  padding: 6px 0;
  background: var(--modal-background);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.watchListRow {
  border-bottom: 1px solid var(--watch-list-border-color);
  padding: 5px 1rem;
  cursor: pointer;
  font-size: 14px;
  color: var(--dark-color);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.watchListRow:hover {
  background-color: var(--watch-list-border-color);
}

.watchListDropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 38px;
}

.watchListDropdown span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watchListPlus {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
.watchListOption {
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

.newWatchListModal {
  width: 200px;
  padding: 2px;
  background: var(--modal-background);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.contentHeader {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: end;
  align-items: center;
  border-top: 1px solid var(--watch-list-border-color);
  border-bottom: 1px solid var(--watch-list-border-color);
  padding: 5px 1rem;
  cursor: pointer;
  color: #718096;
  font-size: 0.875rem;
}

.labelColumn {
  text-align: start;
}

.watchLists {
  height: calc(100vh - 184px);
  overflow: auto;
}