:root {
  --z-backdrop: 5;
  --z-modal: 7; 
}

.Modal-Backdrop { 
  background: rgba(0, 0, 0, 0.5);
  z-index: var(--z-backdrop);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  z-index: var(--z-modal);


  display: flex; 
  justify-content: center;
  align-items: center;
  
}

.Modal-content {}