.ordersTable tr:first-child .tooltiptext{
  top: 150%;
  bottom: unset;
}

.ordersTable tr:first-child .tooltiptext::after{
  bottom: 100%;
  top: unset;
  border-top-color: unset;
  border-bottom-color: #1f2d3d;
}

.customTooltip {
  position: relative;
  display: inline-block;

  font-family: 'Nunito Sans', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
}
  
  /* Tooltip text */
.tooltiptext {
  visibility: hidden;
  
  opacity: 0.9;
  text-align: center;
  padding: .25rem .5rem;
  color: #fff;
  border-radius: .375rem;
  background-color: #1F2D3D;

  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  width: 310px;
  margin-left: -155px;
}
  
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: #1f2d3d;
}

.customTooltip:hover .tooltiptext {
  visibility: visible;
}