.table tr {
  text-align: center;
}
.table td {
  font-size: 12px !important;
  padding: 2px !important;
  vertical-align: middle !important;
}

.table thead th {
  font-size: 12px !important;
  padding: 2px !important;
  vertical-align: middle !important;
  color: rgb(174, 180, 188);
  position: sticky;
  top: -1px;
  background-color: var(--trade-background);
  border-top: 2px solid var(--trade-borders);
  border-bottom: 2px solid var(--trade-borders);
}
.table tbody tr:hover {
  background: var(--table-row-hover);
}

.canceled {
  color: rgb(174, 180, 188);
}

.customControlLabel::before {
  top: 2.5px !important;
  left: -1.5rem !important;
}
