.table tr {
  text-align: center;
}
.table td {
  font-size: 12px !important;
  padding: 2px !important;
  vertical-align: middle !important;
}

.table th {
  font-size: 12px !important;
  padding: 2px !important;
  vertical-align: middle !important;
  color: rgb(174, 180, 188);
}

.canceled {
  color: rgb(174, 180, 188);
}

.customControlLabel::before {
  top: 2px !important;
  left: -1.5rem !important;
}
