.marketDataContainer {
  height: 56px;
  display: flex;
  align-items: center;
  border-top: 4px solid var(--trade-borders);
  border-bottom: 4px solid var(--trade-borders);
  padding-left: 24px;
}
.marketData {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px 8px 0px 16px;
  width: max-content;
}
.lastPriceBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marketDataLastPrice {
  font-size: 16px;
  color: var(--dark-color);
  line-height: 20px;
}
.marketDataWorth {
  font-size: 12px;
  line-height: 15px;
  color: rgb(132, 142, 156);
}
.marketDataBlock {
  display: inline-block;
  padding-right: 10px;
}
.marketDataBlockTitle {
  color: rgb(132, 142, 156);
  font-size: 10px;
  line-height: 16px;
  border-bottom: 1px solid transparent;
  margin-bottom: 2px;
}
.marketDataBlockValue {
  color: var(--dark-color);
  font-size: 12px;
  line-height: 15px;
}


@media (max-width: 1230px) {
  .marketDataContainer {
    height: 52px;
    border-top: none;
    border-right: 4px solid var(--trade-borders);
  }
}

@media (max-width: 991.98px) {
  .marketDataContainer {
    border-left: 4px solid var(--trade-borders);
  }
}

@media (max-width: 575.98px) {
  .marketDataContainer {
    overflow: auto;
    width: 100%;
    padding: 0 5px;
  }
}
