:root {
  --sidebar-width: 320px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
}

.Header-Logo {
  width: var(--sidebar-width);
}


.Header-Nav {
  flex-grow: 1;
}


.Header-Notification {
  width: 40px;
}