@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  overflow: visible;

  box-sizing: content-box;
  height: 0;
}

:root {
  --rc-dark-color: #848e9c;
  --rc-light-color: #e9e9e9;
}

:root .dark {
  --rc-dark-color: #e9e9e9;
  --rc-light-color: #848e9c;
}

/*slider*/
.rc-slider-disabled {
  background: none !important;
}

.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px var(--rc-dark-color) !important;
  background-color: var(--light-color) !important;
  touch-action: pan-x;
}

.rc-slider-handle:active {
  border-color: var(--rc-dark-color) !important;
  box-shadow: 0 0 5px var(--rc-dark-color) !important;
  cursor: grabbing;
}

.rc-slider-handle:hover {
  border-color: var(--rc-dark-color) !important;
}

.rc-slider-handle-click-focused:focus {
  border-color: var(--rc-dark-color) !important;
}

.rc-slider-dot-active {
  border-color: var(--rc-dark-color) !important;
}

.rc-slider-rail {
  background-color: var(--rc-light-color) !important;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: var(--rc-dark-color) !important;
}

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 4px solid #e9e9e9;
  background-color: var(--light-color) !important;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.grayscale {
  filter: grayscale(1);
}

.react-dropdown-select-dropdown {
  z-index: 999 !important;
  border-radius: 6px !important;
  box-shadow: none !important;
}
.react-dropdown-select:focus,
.react-dropdown-select:focus-within,
.react-dropdown-select:hover {
  box-shadow: none !important;
  border-color: rgba(0, 138, 255, 0.5) !important;
}
.text-bold {
  font-weight: 600;
}
.disable-element {
  opacity: 0.5 !important;
  pointer-events: none !important;
}
/* Safari specific issue | Safari 9+ | Issue CP-344 */
_::-webkit-full-page-media,
_:future,
:root [id='chart_container'],
:root [id='chart_outer_container'] {
  height: 100% !important;
}

@media (max-width: 992px) {
  _::-webkit-full-page-media,
  _:future,
  :root [id='chart_container'],
  :root [id='chart_outer_container'] {
    height: 45vh !important;
  }
}
