:root {
  /* color */
  --trade-red: #f84960;
  --trade-border-color: #f5f5f5;
  --trade-border-danger-color: #e35b66;
  --trade-text-color: #666666;
  --trade-text-secondary-color: #515252;
  --trade-text-danger-color: #cc3340;
  --border-color: #e2e8f0;
  --border-color-active: var(--primary);
  --tab-color: var(--gray);
  --tab-color-hover: #4a5568;
  --dark-color: #000000;
  --light-color: var(--white);

  /* Typography */
  --default-color: var(--light);
  --warning-color: var(--warning);
  --error-color: var(--danger);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);

  /* Trade */
  --trade-background: var(--light-color);
  --trade-borders: var(--trade-border-color);
  --trade-cancel-background: var(--red);
  --trade-box-background: var(--light);
  --buy: var(--green);
  --sell: var(--trade-red);

  /* Inline Input */
  --input-default-background: rgba(255, 255, 255, 0.9);
  --input-default-color: var(--dark-color);
  --input-default-border: rgba(151, 158, 168);
  --label-default-color: rgb(60, 60, 60);
  --input-border-active-color: rgb(0, 138, 255);
  --input-default-disabled-background: rgb(212, 212, 212);
  --input-default-disabled-color: rgba(255, 255, 255, 0.8);

  /* Button */
  --button-primary-background: #008aff;
  --button-primary-color: #fff;
  --button-primary-background-hover: #0075d9;
  --button-defualt-border-color: #c1c9d4;
  --button-default-color: #273444;
  --button-default-background: transparent;
  --button-default-disabled: #a4a6a8;
}

:root .dark {
  /* Color */
  --trade-red: #f84960;
  --trade-border-color: rgb(24, 26, 32);
  --trade-border-danger-color: #e35b66;
  --trade-text-color: #bbbbbb;
  --trade-text-secondary-color: #a0a0a0;
  --trade-text-danger-color: #ff969f;
  --border-color: #2c4056;
  --border-color-active: var(--primary);
  --tab-color: var(--gray);
  --tab-color-hover: #8492a6;
  --dark-color: #ffffff;
  --light-color: #1c2938;

  /* Trade */
  --trade-background: var(--light-color);
  --trade-borders: var(--trade-border-color);
  --trade-cancel-background: var(--red);
  --trade-box-background: var(--light);
  --buy: var(--green);
  --sell: var(--trade-red);

  /* Inline Input */
  --input-default-background: #2c4056;
  --input-default-color: var(--dark-color);
  --input-default-border: rgba(151, 158, 168);
  --label-default-color: #848e9c
  --input-border-active-color: rgb(0, 138, 255);
  --input-default-disabled-background: #2c4056;
  --input-default-disabled-color: rgba(255, 255, 255, 0.8);

  /* Button */
  --button-primary-background: #008aff;
  --button-primary-color: #fff;
  --button-primary-background-hover: #0075d9;
  --button-defualt-border-color: #c1c9d4;
  --button-default-color: #273444;
  --button-default-background: transparent;
  --button-default-disabled: #a4a6a8;
}
