.btn-dark {
  background-color: transparent !important;
  color: var(--dark-dark) !important;
}

/* .message {
  font-size: 12px;
  display: inline-block;
  padding: .25rem .25rem;
  transition: color .3s;
  color: #718096;
  border: 0;
  background: transparent;
} */
