.btn-dark {
  background-color: transparent !important;
  color: var(--dark-dark) !important;
}

/* .message {
  font-size: 12px;
  display: inline-block;
  padding: .25rem .25rem;
  transition: color .3s;
  color: #718096;
  border: 0;
  background: transparent;
} */

.action-item-container .h6.action-item,
.TradeOrders .action-item:hover {
  color:var(--dark-color);
}

/* @media (max-width: 767px) {
  .action-item-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .action-item-container .action-item {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
} */