.TabNavigator-container {
  width: 100%;
}

.TabNavigator-nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  font-weight: 500;
}

.DropDownNav {
  justify-content: space-between;
}

.HorizontalNav {
  overflow: auto;
}

.has-margin {
  margin-left: 1rem;
}

.TabNavigator-link {
  margin-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 15px 0;
  cursor: pointer;
  color: var(--tab-color);
}

.TabNavigator-link:hover {
  color: var(--tab-color-hover);
}

.TabNavigator-link--active {
  border-bottom: 1px solid var(--border-color-active);
  color: var(--tab-color);
  font-weight: 600;
}

.TabNavigator-link--active:hover {
  color: var(--tab-color);
}

.custom-dropdown-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-dropdown-wrapper > button {
  outline: none;
  border: none;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;
  background: none;
  color: var(--tab-color);
  height: 100%;
}

.custom-dropdown-wrapper > button:hover {
  color: var(--tab-color-hover);
}

.custom-dropdown-wrapper > button.btn-active {
  border-bottom: 1px solid var(--border-color-active);
  color: var(--tab-color);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.chevron-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.market-items {
  display: none;
  position: absolute;
  top: 35px;
  left: -20px;
  z-index: 999999;
  flex-direction: column;
  width: max-content;
  border-radius: 2px;
  overflow: hidden;
}

.market-items > .dropdown-btn,
.market-items > .btn-active {
  border: none;
  font-size: 14px;
  background-color: var(--border-color);
  color: var(--tab-color);
  padding: 3px 10px;
}
.dark .market-items > .dropdown-btn,
.market-items > .btn-active {
  border: none;
  font-size: 14px;
  background-color: rgb(37, 54, 73);
  color: var(--tab-color);
  padding: 3px 10px;
}

.market-items > .dropdown-btn:hover,
.market-items > .btn-active:hover {
  background: #1552f1;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.market-items > .btn-active {
  color: var(--tab-color);
  font-weight: 500;
}

.chevron-wrapper:hover .market-items {
  display: flex;
}

.chevron-wrapper.show .market-items {
  display: flex;
}

.tab-info-wrapper svg {
  color: var(--tab-color);
}

.tab-info-wrapper:hover svg {
  color: var(--border-color-active);
}

.tab-info-wrapper.show:before {
  content: '';
  position: absolute;
  left: 5px;
  bottom: 9px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--border-color) transparent;
}

.tab-info {
  position: absolute;
  background-color: var(--border-color);
  width: 600px;
  border-radius: 4px;
  padding: 1rem 0.75rem 0 0.5rem;
  font-size: 0.875rem;
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
  z-index: 2;
}

.warning-badge {
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 18%;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 575.98px) {
  .warning-badge {
    left: 38%;
  }
}

@media (max-width: 991.98px) {
  .tab-info {
    right: -10px;
    width: 300px;
  }
  .market-items {
    right: 0;
    left: unset;
  }
}
