.TabNavigator-container {
  --border-color: #ddd;
  --border-color-active: var(--primary);
  --color: #718096;
  --color-hover: #4a5568;

  width: 100%;
}

.TabNavigator-nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  font-weight: 500;
}

.TabNavigator-link {
  margin-right: 1.5rem;
  font-size: 0.875rem;
  padding: 15px 0;
  cursor: pointer;
  color: var(--color);
}

.TabNavigator-link:hover {
  color: var(--color-hover);
}

.TabNavigator-link--active {
  border-bottom: 1px solid var(--border-color-active);
  color: var(--color);
  font-weight: 600;
}

.TabNavigator-link--active:hover {
  color: var(--color);
}
